@import url('../../../../Styles/base.scss');

.jax-extend-header-manage-order-one {
    position : absolute;
    top      : 50%;
    transform: translateY(-50%);
    right    : 10px;
    cursor   : pointer;
}

.manage-order-wrapper {
    color           : red;
    height          : 100vh;
    position        : relative;
    top             : 0;
    right           : 0;
    bottom          : 0;
    left            : 0;
    z-index         : 1000;
    background-color: #fff;
    overflow        : auto;

    .header-manage-order-wrapper {
        height    : 70px;
        padding   : 0 20px;
        background: #fff;
        box-shadow: 0 0 50px 2px rgb(1 1 1 / 9%);
        z-index   : 999999999999999999999;

        .container-customize {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            height         : 100%;

            .img-logo {
                height: 32px;
                cursor: pointer;
            }

            .right-jax-manage-order {
                display    : flex;
                align-items: center;
                gap        : 10px;

                .span-sesrch {
                    min-width: 400px;
                    height   : 40px;
                    position : relative;
                    overflow : hidden;
                    display  : block;

                    input {
                        width        : 100%;
                        height       : 100%;
                        border       : 0.2px solid #ccc;
                        outline      : none;
                        border-radius: 4px;
                        margin-right : 6px;
                        padding-left : 10px;
                    }

                    svg {
                        @extend .jax-extend-header-manage-order-one;
                    }

                    i {
                        @extend .jax-extend-header-manage-order-one;
                    }
                }

                .img-avatar {
                    width        : 40px;
                    height       : 40px;
                    border-radius: 50%;
                    object-fit   : cover;
                    cursor       : pointer;
                    margin-left  : 6px;
                }
            }
        }
    }
}

.menu-body {
    min-width : 400px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    max-width : 400px;
    max-height: 450px;
    overflow  : auto;
}

.body-content {
    position  : relative;
    min-height: 450px;
    z-index   : 10;

    .title {
        font-size  : 18px;
        font-weight: 600;
        color      : rgb(22, 24, 35);
        padding    : 10px 0;
    }

    .product-as {
        padding: 8px 0;
        padding: 18px 20px;

        .select {
            padding: 6px 0;

            select {
                outline      : none;
                padding      : 6px;
                border       : none;
                border-bottom: 1px solid #ccc;
                cursor       : pointer;
                min-height   : 37px;
            }

            button {
                margin          : 0 6px;
                border          : none;
                background-color: transparent;
                padding         : 6px;
                border-bottom   : 1px solid #ccc;
            }
        }
    }

    .send-email-modal {
        font-size: 16px;
    }

}

.title-modal-body {
    font-size  : 14px;
    font-weight: 600;
}

.preview-pdf {
    position: absolute;
    top     : 0;
    height  : 100%;
    left    : 0;
    right   : 0;
    width   : 100%;
    z-index : 999999999;
}


.jsx-input-add {
    border          : none;
    outline         : none;
    background-color: transparent;

}

.scroll {
    overflow      : auto;
    // height  : 200vh;
    display       : flex;
    flex-direction: column;
    height        : 100%;
}

.over-footer {
    position: relative;
}

.render-list {
    min-height: 100px;
}

.wrap-list {
    flex   : 1;
    z-index: 999999999;
}

.over-footer {
    margin-top: auto;
}

.select-modal {
    outline      : none;
    border-color : #ccc;
    border-radius: 4px;
    text-align   : center;
    padding      : 4px;

    option {
        cursor: pointer;
    }
}