@import './base.scss';

* {
    box-sizing: border-box;
}


@include media-breakpoint-down(sm) {
    .col-0 {
        display: none;
    }
}

.arrow-chuk {
    z-index         : 999;
    background-color: #fff;
    color           : #000;
    border-radius   : 50%;
    padding         : 2px;
    font-size       : 8px;
    width           : 20px;
    height          : 20px;
    opacity         : 0.6;
    transition      : all linear .3s;

    &:hover {
        opacity: 1;
    }
}

.slick-slider {

    &.slick-initialized {
        position: relative;
        height  : 100%;
        overflow: hidden;


        .slick-prev {
            left: 20px;
            @extend .arrow-chuk;
        }

        .slick-next {
            right: 20px;
            @extend .arrow-chuk;
        }


        .slick-dots {
            position: absolute;
            bottom  : 6px;
            z-index : 999999;

            li {
                background-color: #fff;
                border-radius   : 50%;
                width           : 10px !important;
                height          : 10px !important;
                opacity         : 0.35;
                overflow        : hidden;

                button {
                    width           : 100%;
                    height          : 100%;
                    background-color: transparent;

                    &::after {
                        display: none;
                    }

                    &::before {
                        display: none;
                    }
                }

                &.slick-active {
                    opacity: 1;
                }
            }
        }

        .slick-list {
            height: 100%;

            .slick-track {
                height: 100%;

                .slick-slide {
                    overflow: hidden;

                    &.slick-cloned {}
                }
            }
        }
    }
}

.ReactModal__Overlay {
    z-index: 99999999999999999999999 !important;
}

.customize-jsx-format {
    input {
        border          : none;
        outline         : none;
        text-align      : end;
        background-color: transparent;
    }

    &.font-weight {
        input {
            font-weight: 600;
        }
    }
}


@include media-breakpoint-down(sm) {
    .w-sm-600 {
        width: 600px;
    }

    .sm-scroll-none {
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .mt-mobile-2 {
        margin-top: 1rem;
    }
}

@include media-breakpoint-down(xl) {
    .p-xl-3 {
        padding: 1rem;
    }

    .p-sm-1 {
        padding: 0.3rem;
    }

    .f-sm-11 {
        font-size: 11px !important;
    }

    .mt-sm-1 {
        margin-top: 4px !important;
    }

    .py-sm-4 {
        padding: 1.5rem 0;
    }

    .over-hidden-sm {
        overflow: hidden;
    }

    .min-sm-450 {
        min-width: 450px;
    }

    .scroll-none {
        &::-webkit-scrollbar {
            display: none;
        }
    }


}


@media (max-width: 576px) {
    .flex-sm-ct-column-mobile {
        flex-direction: column;
    }

    .d-sm-none-cs {
        display: none;
    }

    .d-sm-block-cs {
        display: block;
    }
}

@media (max-width: 800px) {
    .mb-md-3 {
        margin-bottom: 8px;
    }
}

.Toastify__toast-container {
    overflow: hidden !important;
    margin  : 8px !important;
}

.Toastify__close-button {
    padding : 4px;
    overflow: hidden;
}