@import './base.scss';

@include media-breakpoint-up(lg) {

    html * {
        scroll-behavior: smooth;
        overflow       : overlay;
    }

    html *::-webkit-scrollbar {
        border-radius   : 0;
        width           : 8px;
        // z-index      : 999999999999999;
    }

    html *::-webkit-scrollbar-thumb {
        border-radius      : 4px;
        background-color   : rgba(0, 0, 0, 0.25);
        // z-index         : 999999999999999;
    }

    body {
        color: #353535;
    }

    :root {
        --blue : #0e0620;
        --white: #fff;
        --green: #2ccf6d;
    }

    html *::-webkit-scrollbar-track {
        border-radius   : 0;
        background-color: rgba(0, 0, 0, 0);
    }
}

@include media-breakpoint-down(lg) {

    html * {
        scroll-behavior: smooth;
        overflow       : overlay;
    }

    html *::-webkit-scrollbar {
        border-radius   : 0;
        width           : 8px;
        // z-index      : 999999999999999;
    }

    html *::-webkit-scrollbar-thumb {
        border-radius      : 4px;
        background-color   : rgba(0, 0, 0, 0.25);
        // z-index         : 999999999999999;
        display            : none;
    }

    body {
        color: #353535;
    }

    :root {
        --blue : #0e0620;
        --white: #fff;
        --green: #2ccf6d;
    }

    html *::-webkit-scrollbar-track {
        border-radius   : 0;
        background-color: rgba(0, 0, 0, 0);
    }
}