.skeloton-loading {
    position        : fixed;
    top             : 0;
    width           : 100%;
    background-color: transparent;

    .jsx-height {

        height             : 10px;
        width              : 100%;
        position           : relative;
        // background-color: #eee;
        overflow           : hidden;

        .children {
            width           : 30%;
            height          : 30%;
            background-color: rgb(96, 96, 246);
            position        : absolute;
            animation       : RunLoading linear 1s infinite;
        }
    }
}


@keyframes RunLoading {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}